doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Buscar Pelis
  body
    h1 #{Title}
    h2 #{Year}
    h2 #{Released}
    h2 #{Genre}
    h2 #{Director}
    h2 #{Actors}
    h2 #{Plot}
    h2 #{Country}
    h2 #{Awards}
    h2 #{imdbRating}
    img(src=Poster, alt=Foto width="300")